<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Messages</title>
  </head>
  <body>
    <h1>Messages</h1>
    <div>
      <a href="/logout">Logout</a>
      <a href="/membership">Become a member of the club</a>
    </div>
    <div>
      <% locals.messages.forEach((message) => { %>
      <div class="message">
        <p>
          User: <%= locals.user.membership_status ? message.username : "???" %>
        </p>
        <p>Date: <%= message.date.toLocaleString() %></p>
        <p><%- message.title %></p>
        <p><%- message.text %></p>
        <% if (locals.user.admin) { %>
        <form action="/message/delete/<%= message.id %>" method="POST">
          <button
            type="submit"
            onClick="return confirm('Are you sure you want to delete this message?');"
          >
            Delete
          </button>
        </form>
        <% } %>
      </div>
      <% }); %>
    </div>
    <a href="/message"><button class="new-message">New message</button></a>
  </body>
</html>
